/* ubuntu-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ubuntu-v20-latin-regular.woff2") format("woff2");
}

/* ubuntu-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/ubuntu-v20-latin-700.woff2") format("woff2");
}

/* global */

:root {
  --off-white: #ddd;
  --dark-blue: #1c2430;
  --main-blue: #32a6ff;
  --grayish-blue: rgba(43, 130, 196, 0.2);
}

*,
::after,
::before {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  color: var(--off-white);
  margin: 0;
  text-shadow: none;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
  font-size: 14px;
}

a {
  text-decoration: none;
}

p,
li {
  line-height: 1.6;
}

p {
  font-size: 1.1em;
}

li {
  margin: 1rem 0;
}

li > strong {
  font-size: 1.25em;
}

/* top nav */

.top-nav {
  position: sticky;
  top: 0;
  background-color: var(--dark-blue);
  border-bottom: 1px solid rgb(37, 48, 65);
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh * 0.125);
}

.logo img {
  width: 2.75em;
}

.top-links a {
  margin: 0 1em;
}

.top-links a:hover {
  border-bottom: 2px solid var(--main-blue);
}

/* home page */

.home-page {
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-header {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
}

.home-header .logo {
  width: 128px;
}

.home-header h1 {
  font-size: 3.5em;
}

.home-header p {
  font-size: 1.75em;
}

.main-btn {
  background-color: #0f69ae;
  border-radius: 30px;
  padding: 0.75em 1.25em;
  font-weight: bolder;
  font-size: 1em;
}

/* grid container */

.grid-container {
  display: grid;
  grid-template-columns: 23% 77%;
}

/* side nav */

.side-nav {
  position: fixed;
  width: 23%;
  height: 100%;
  height: 100%;
  padding: 2.5em 1em 0 0;
  border-right: 3px solid var(--grayish-blue);
}

.side-nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0.9em;
}

.side-nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  padding-right: 0.5em;
  margin: 0.5em 0;
  border-radius: 0 12px 12px 0;
}

.side-nav a:hover {
  background-color: var(--grayish-blue);
}

.highlight-link {
  background-color: var(--grayish-blue);
  color: var(--main-blue);
  /* font-weight: 700; */
}

.side-nav img {
  opacity: 0.8;
  width: 1.6em;
}

/* main content */

main {
  padding: 2.5em 4em 2.5em 3em;
  grid-column: 2 / span 1;
}

/* sections */

#section-header {
  margin-bottom: 2em;
}

#section-header h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#section-header p {
  font-size: 1.25em;
}

/* subsections */

.subsection {
  padding: 2em 0;
}

.subsection-header {
  margin-bottom: 2.5em;
}

.subsection-header h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subsection-content {
  margin: 2em 0 1em;
}

.img-subtitle {
  display: grid;
  grid-template-columns: 80% 20%;
}

.reverse-img-subtitle {
  grid-template-columns: 20% 80%;
}

.reverse-img-subtitle p {
  order: 2;
}
.reverse-img-subtitle img {
  order: 1;
}

.img-subtitle img {
  width: 6em;
  justify-self: center;
  align-self: center;
}

/* sub-subsections */

.sub-subsection-header {
  margin: 2em 0;
}

.sub-subsection-header h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* code */

.example-block {
  border-radius: 4px;
  background-color: rgba(43, 130, 196, 0.15);
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.example-block h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
}

li > .example-block {
  margin-top: 1em;
}

.code-block {
  padding: 0.5em 1em;
  background-color: var(--dark-blue);
  border-radius: 4px;
  margin: 1em 0;
}

code > * {
  font-family: Consolas, monospace;
}

/* inline code */

p code {
  background-color: var(--grayish-blue);
  color: var(--main-blue);
  padding: 0.25em;
  margin: 0 6px;
  border-radius: 4px;
}

/* operation table */

th {
  padding-right: 1em;
  padding-bottom: 0.4em;
  text-align: left;
  border-bottom: 2px solid var(--main-blue);
}

td {
  padding: 0.5em;
  text-align: left;
}

/* page buttons */

.page-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-top: 2em;
}

.page-btn {
  display: flex;
  align-items: center;
  column-gap: 1em;
  border-radius: 12px;
  padding: 1.5em 1.75em;
  min-width: 268px;
}

.page-btn span {
  font-size: 1.2em;
  color: var(--main-blue);
}

.page-btn img {
  opacity: 0.8;
}

.next-page-btn {
  margin-left: auto;
  justify-content: end;
}

.next-page-btn p {
  text-align: right;
}

.last-page-btn {
  margin-right: auto;
  justify-content: start;
}

.last-page-btn p {
  text-align: left;
}

.page-btn:hover {
  background-color: var(--grayish-blue);
  color: var(--main-blue);
}

.page-btn:hover span {
  color: #fff;
}

.page-btn span:hover {
  text-decoration: underline var(--main-blue);
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }
}
