/* balsamiq-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Balsamiq Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/balsamiq-sans-v14-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* balsamiq-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Balsamiq Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/balsamiq-sans-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* global */

:root {
  --off-white: rgba(255, 255, 255, 0.9);
  --dark-blue: rgb(28, 36, 48);
  --main-blue: #268cda;
  --grayish-blue: rgba(43, 130, 196, 0.2);
}

*,
::after,
::before {
  font-family: "Balsamiq Sans", sans-serif;
  box-sizing: border-box;
  color: var(--off-white);
  margin: 0;
  text-shadow: none;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
}

a {
  text-decoration: none;
}

svg {
  opacity: 0.9;
}

/* code snippets */

code > * {
  font-family: Consolas, monospace;
}

/* inline code */

p code {
  background-color: var(--grayish-blue);
  color: var(--main-blue);
  padding: 0.25rem 0.5rem;
  margin: 0 6px;
  border-radius: 4px;
}

/* @media screen and (min-width: 1024px) { */

/* home page */

.home-page {
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-header {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.home-header .logo {
  width: 128px;
}

.home-header h1 {
  font-size: 3.5rem;
}

.home-header p {
  font-size: 1.75rem;
}

.main-btn {
  background-color: var(--main-blue);
  border-radius: 30px;
  padding: 0.75rem 1.25rem;
}

/* top nav */

.top-nav {
  position: sticky;
  top: 0;
  /* background-color: rgb(37, 48, 65); */
  background-color: var(--dark-blue);
  border-bottom: 1px solid rgb(37, 48, 65);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 40px;
}

.side-links a {
  margin: 0 1rem;
}

.side-links a:hover {
  border-bottom: 2px solid var(--main-blue);
}

/* main content */

/* grid container */

.grid-container {
  /* margin-top: 2rem; */
  display: grid;
  grid-template-columns: 260px calc(100vw - 260px);
}

/* side nav */

.side-nav {
  position: fixed;
  /* left: 0; */
  padding: 2rem 1rem 0 0;
  border-right: 3px solid var(--grayish-blue);
  height: 100%;
}

.side-nav a {
  display: block;
  font-size: 1rem;
  /* padding-left: 2rem; */
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  margin: 0.5rem 0;
}

.side-nav a:hover {
  background-color: var(--grayish-blue);
  border-radius: 0 12px 12px 0;
  color: var(--main-blue);
  /* font-weight: 700; */
}

/* subsections / global styles */

main {
  padding: 2.5rem 3rem;
}

#section-header {
  margin-bottom: 3rem;
}

#section-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

hr {
  margin: 3rem 0;
}

p {
  font-size: 1.1rem;
}

.subsection-header h2 {
  margin: 0.5rem 0;
}

/* page buttons */

.page-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem 3rem;
}

.page-btn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
}

/* .page-btn svg path {
  fill: #fff;
} */

.page-btn svg {
  width: 32px;
  height: 32px;
}

.page-btn:hover {
  background-color: var(--grayish-blue);
  color: var(--main-blue);
}

.next-page-btn {
  align-self: right;
}

.last-page-btn {
  align-self: left;
}

/* .section-content div {
    padding-top: 1rem;
  }

  .section-content div > article:not(.compiler-article) {
    margin: 2rem 0;
  }

  .section-content h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  } */

/* basics page */

/* .devenv hr {
    margin: 1rem 0;
  }

  .subsection-header {
    margin: 2rem 0;
  }

  .section-content div {
    padding-top: 0;
  } */
/* } */
